{% extends 'base.html' %}

{% block con %}
    <!-- board/index.html -->
    {% load mathfilters %}

    <h1><b>게시판</b></h1>

    {% if user.is_authenticated %}
        <div class="text-end">
            <a href="{% url 'board:create' %}" class="btn btn-dark">게시글생성</a>
        </div>
    {% endif %}

    <table class="table table-hover mt-4">

        <thead>
            <tr class="table-dark">
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">SUMMARY</th>
                <th scope="col">WRITER</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>

        <tbody>
            {% if bset %}
                {% for i in bset %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="sub" href="{% url 'board:detail' i.id %}">{{i.subject}}</a></td>
                        <td>{{i.content|truncatewords:10}}</td>
                        <td>{{i.writer}}</td>
                        <td>{{i.likey}}</td>
                    </tr>
                {% endfor %}
                
            {% else %}
                {% if kw %}
                    <tr>
                        <td colspan="5">검색 결과가 없습니다.</th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">게시글이 없습니다</td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>

    <form>
        <div class="row mt-4 mb-3">   
            <div class="col-sm-2">
                <select name="cate" class="form-select form-select-sm">
                    <option value="sub" {% if cate == "sub" %} selected {% endif %}>제목</option>
                    <option value="wri" {% if cate == "wri" %} selected {% endif %}>작성자</option>
                    <option value="con" {% if cate == "con" %} selected {% endif %}>내용</option>
                </select>
            </div>
            <div class="col-sm-9">
                <input type="text" name="kw" class="form-control form-control-sm" value="{{kw}}">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-dark btn-sm" style="width:100%">검색</button>
                <a class="btn btn-primary btn-sm" href="{% url 'board:index' %}" style="width:100%">리셋</a>
            </div>
        </div>
    </form>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if bset.has_previous %}
                <li class="page-item">
                    <a href="{% url 'board:index' %}?page=1&cate={{cate}}&kw={{kw}}" class="page-link">처음</a>
                </li>
                <li class="page-item">
                    <a href="{% url 'board:index' %}?page={{bset.previous_page_number}}&cate={{cate}}&kw={{kw}}" class="page-link">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">처음</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">이전</a>
                </li>
            {% endif %}

            {% for i in bset.paginator.page_range %}
                {% if i >= bset.number|sub:4 and i <= bset.number|add:5 %}
                    <li class="page-item {% if i == bset.number %} active {% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&cate={{cate}}&kw={{kw}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if bset.has_next %}
            <li class="page-item">
                <a href="{% url 'board:index' %}?page={{bset.next_page_number}}&cate={{cate}}&kw={{kw}}" class="page-link">다음</a>
            </li>
            <li class="page-item">
                <a href="{% url 'board:index' %}?page={{bset.paginator.num_pages}}&cate={{cate}}&kw={{kw}}" class="page-link">마지막</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">마지막</a>
            </li>
            {% endif %}
        </ul>
    </nav>



    <style>
        .sub {
            text-decoration: none;
            color:black;
            font-weight: bold;
        }
        .sub:hover{
            color:red;
        }
    </style>
{% endblock %}